$base0: #0b0818;
$base : #141021;
$base1: #201d35;
$text: #e0dce3;
$selection: #747081;
$tortvredRed: #d93040;
$cyberianOrange: #eb8f51;
$fvckedYellow: #eab340;
$sewerGreen: #5ac296;
$drainingBlue: #4379c4;
$irlyPink: #e39ae2;
$skitzofrenicAqua: #79cae1;
$drowningPurple: #8325a3;
